<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>従業員一覧</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>

<body>
  <p>
    <span sec:authentication="principal.username"></span>
    さん、こんにちは
  </p>
  <form method="post" th:action="@{/logout}">
    <button type="submit">ログアウト</button>
  </form>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>氏名</th>
        <th>かな</th>
        <th>メール</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="emp : ${empList}">
        <td th:text="${emp.id}"></td>
        <td th:text="${emp.name}"></td>
        <td th:text="${emp.kana}"></td>
        <td th:text="${emp.email}"></td>
      </tr>
    </tbody>
  </table>

</body>

</html>