<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/common::head(~{::title})">
  <title>従業員一覧</title>
</head>

<body>
  <header th:replace="common/common::header"></header>
  <div class="container">
    <!--グループ選択-->
    <form method="get" th:action="@{/emp}">
      <div class="d-flex justify-content-end mt-3">
        <label for="selectGroup" class="col-form-label">表示</label>
        <select name="gid" id="selectGroup" class="custom-select col-sm-4 mx-1">
          <option value="">(すべて)</option>
          <option th:each="grp : ${groupList}" th:value="${grp.id}" th:text="${grp.name}"
            th:selected="${grp.id == gid}"></option>
        </select>
        <button class="btn btn-secondary btn-sm col-sm-1">切替</button>
      </div>
    </form>
    <!--一覧-->
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>氏名</th>
          <th>所属グループ</th>
          <th>メール</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="emp : ${empList}" th:object="${emp}">
          <td th:text="*{id}"></td>
          <td>
            <a th:href="@{/emp/{id}(id=*{id})}" th:text="*{name}"></a>
          </td>
          <td>
            <th:block th:each="group, st : *{groups}">
              <span th:text="${group.name}" th:class="${group.id == emp.mainGroup.id}? text-danger"></span>
              <span th:unless="${st.last}">, </span>
            </th:block>
          </td>
          <td th:text="*{email}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer th:replace="common/common::footer"></footer>
</body>

</html>