<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common::head(~{::title})">
  <title>プロフィール編集</title>
</head>

<body>
  <header th:replace="common/common::header"></header>
  <div class="container mt-3" th:object="${profileForm}">
    <h2>プロフィール編集</h2>
    <form method="post" th:action="@{/prof}" class="my-3" novalidate>
      <input type="hidden" th:field="*{loginId}">
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">氏名</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{name}" th:errorclass="is-invalid">
          <div class="invalid-feedback" th:errors="*{name}"></div>
        </div>
      </div>
      <div class="form-group row">
        <label for="kana" class="col-sm-3 col-form-label">ふりがな</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{kana}" th:errorclass="is-invalid">
          <div class="invalid-feedback" th:errors="*{kana}"></div>
        </div>
      </div>
      <div class="form-group row">
        <label for="loginId" class="col-sm-3 col-form-label">ログインID</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{loginId}" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">パスワード</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="password" name="password" th:value="*{password}"
            th:errorclass="is-invalid">
          <div class="invalid-feedback" th:errors="*{password}"></div>
        </div>
      </div>
      <div class="form-group row">
        <label for="passwordConfirm" class="col-sm-3 col-form-label">パスワード（確認用）</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
            th:value="*{passwordConfirm}" th:errorclass="is-invalid">
          <div class="invalid-feedback" th:errors="*{passwordConfirm}"></div>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">メールアドレス</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" th:field="*{email}" th:errorclass="is-invalid">
          <div class="invalid-feedback" th:errors="*{email}"></div>
        </div>
      </div>
      <div class="form-group row">
        <label for="mainGroup.id" class="col-sm-3 col-form-label">代表グループ</label>
        <div class="col-sm-9">
          <select th:field="*{mainGroup.id}" class="custom-select">
            <option th:each="grp : *{groups}" th:text="${grp.name}" th:value="${grp.id}"></option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">更新</button>

    </form>
    <a th:href="@{/emp}">戻る</a>
    <footer th:replace="common/common::footer"></footer>
</body>

</html>